<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="margin:0;">
    <div id="g-container">
        <div id="header" style="background-color: green; height: 80px;">
            fgf
        </div>
        <div id="head-body" style="background-color:red; height: 500px;">
            gfhgh
        </div>
        <div id="g-contents" style="background-color: black; height: 600px;">
            gfgh
        </div>
        <div id="g-footer" style="background-color: blue; height: 300px;">
            ghg
        </div>
    </div>
</body>
</html>