<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap"
      rel="stylesheet"
    />
    <title>Roqqu Sign-In</title>
    <style type="text/css">
      * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: "Montserrat", sans-serif;
      }
      p {
        margin: 0px;
        padding: 0px;
      }

      ul > span {
        padding-top: 5px;
        padding-bottom: 5px;
      }

      body {
        font-size: 15px;
      }
    </style>
  </head>
  <body style="padding-bottom: 60px; color: black; background-color: #dadada">
    <center style="width: 100%; table-layout: fixed">
      <table
        border="0"
        height="100%"
        style="
          width: 701px;
          background-color: #ffffff;
          max-width: 100%;
          border-spacing: 0;
          font-family: 'Montserrat', sans-serif;
          border-top-right-radius: 6px;
          border-top-left-radius: 6px;
          border-bottom-right-radius: 6px;
          color: black;
        "
      >
        <tr>
          <td style="text-align: center; background-color: #f3faff">
            <img
              src="https://gaijinmall.com/assets/images/logo-sm.png"
              alt="gaijinmall banner"
              style="
                padding: 10px;
                padding-top: 15px;
                width: 124px !important;
                margin-left: auto;
                margin-right: auto;
              "
            />
          </td>
        </tr>

        <tr>
          <td style="padding-left: 7%; padding-top: 20px; padding-bottom: 20px">
            <h4
              style="
                font-size: 24px;
                margin-bottom: 0px;
                margin-top: 0px;
                font-weight: bolder;
                font-family: 'Montserrat', sans-serif;
              "
            >
              <b> Order confirmation </b>
            </h4>
            <p
              style="
                font-size: 18px;
                margin-top: 12px;
                font-family: 'Montserrat', sans-serif;
                font-weight: 500;
              "
            >
              Hi Chukwudi,
            </p>
            <p
              style="
                width: 100%;
                text-align: left;
                max-width: 86%;
                color: black;
                line-height: 24px;
                font-size: 15px;
                margin-top: 15px;
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
              "
            >
              Thank you for placing an order with GaijinMall. We are pleased to
              confirm your order and provide you with the following details:
            </p>
          </td>
        </tr>

        <!-- verify-button  -->
        <tr>
          <td
            style="
              text-align: left;
              padding-left: 7.5%;
              margin-top: 20px;
              padding-bottom: 30px;
              font-family: 'Montserrat', sans-serif;
            "
          >
            <p style="font-family: 'Montserrat', sans-serif">
              <b> Order Number:</b> 396613585
            </p>
            <p style="padding-top: 10px; font-family: 'Montserrat', sans-serif">
              <b> Order Date:</b> 25th April 2023
            </p>
          </td>
        </tr>

        <!-- verify-button  -->
        <tr>
          <td
            style="
              text-align: left;
              padding-left: 7.5%;
              margin-top: 20px;
              padding-bottom: 30px;
              font-family: 'Montserrat', sans-serif;
            "
          >
            <p
              style="
                font-family: 'Montserrat', sans-serif;
                width: 85%;
                font-weight: 500;
                font-size: 15px;
              "
            >
              We would like to inform you that your order is currently being
              processed and will be packaged and shipped to you as soon as
              possible.
            </p>
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 100%;
              padding-left: 7.5%;
              padding-right: 5%;
              margin-top: 20px;
              padding-bottom: 10px;
              font-family: 'Montserrat', sans-serif;
            "
          >
            <p>
              <b> Customer details </b>
            </p>
            <p
              style="
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
              "
            >
              Chukwudi Nebo <span>+2349087767463</span>
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 100%;
              padding-left: 7.5%;
              padding-right: 5%;
              margin-top: 20px;
              padding-bottom: 30px;
              font-family: 'Montserrat', sans-serif;
            "
          >
            <p>
              <b> Delivery Address </b>
            </p>
            <p
              style="
                font-family: 'Montserrat', sans-serif;
                font-style: normal;
                font-weight: 500;
              "
            >
              Digitanotation Systems, Shop 27, Tonimas Plaza, B-Bus stop, ifite,
              Awka, Awka Town.
            </p>
          </td>
        </tr>
        <tr>
          <td
            style="
              width: 100%;
              padding-left: 7.5%;
              padding-right: 5%;
              margin-top: 20px;
              padding-bottom: 30px;
              font-family: 'Montserrat', sans-serif;
            "
          >
            <h2 style="font-size: 24px; margin-bottom: 20px">
              What you ordered
            </h2>
            <span
              style="
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                justify-content: space-between;
                padding-bottom: 20px;
              "
            >
              <span>
                <img
                  src="https://unsplash.it/600/400"
                  alt="cart-img"
                  style="height: 80px; width: 150px"
                />
              </span>
              <span>
                <p style="font-size: 18px">
                  <b> Item </b>
                </p>
                <p style="font-weight: 500">Gold</p>
              </span>
              <span>
                <p style="font-size: 18px">
                  <b> Quantity </b>
                </p>
                <span>
                  <p style="text-align: center; font-weight: 500">1</p>
                </span>
              </span>
              <span>
                <p style="font-size: 18px">
                  <b> Price </b>
                </p>
                <p style="font-weight: 500">Y3,000</p>
              </span>
            </span>
            <hr />
          </td>
        </tr>

        <tr>
          <td
            style="
              width: 100%;
              padding-left: 7.5%;
              padding-right: 5%;
              margin-top: 20px;
              padding-bottom: 30px;
              font-family: 'Montserrat', sans-serif;
            "
          >
            <span>
              <div>
                <!-- <p>summary</p> -->
                <ul
                  class="list-unstyled"
                  style="
                    list-style: none;
                    border: 1px solid black;
                    padding: 15px;
                  "
                >
                  <span
                    style="
                      display: flex;
                      flex-wrap: wrap;
                      align-items: center;
                      justify-content: space-between;
                    "
                  >
                    <li>
                      <b> Shipping Cost </b>
                    </li>
                    <p style="font-weight: 500">Y300</p>
                  </span>
                  <span
                    style="
                      display: flex;
                      flex-wrap: wrap;
                      align-items: center;
                      justify-content: space-between;
                    "
                  >
                    <li>
                      <b> Shipping Discount </b>
                    </li>
                    <p style="font-weight: 500">Y0</p>
                  </span>
                  <span
                    style="
                      display: flex;
                      flex-wrap: wrap;
                      align-items: center;
                      justify-content: space-between;
                    "
                  >
                    <li>
                      <b> Tax </b>
                    </li>
                    <p style="font-weight: 500">Y200</p>
                  </span>
                  <span
                    style="
                      display: flex;
                      flex-wrap: wrap;
                      align-items: center;
                      justify-content: space-between;
                      padding-bottom: 10px;
                    "
                  >
                    <li>
                      <b> Payment Method </b>
                    </li>
                    <p style="font-weight: 500">Payment on delivery/pick-up</p>
                  </span>
                  <hr />
                  <div
                    style="
                      display: flex;
                      flex-wrap: wrap;
                      align-items: center;
                      justify-content: space-between;
                      padding-top: 10px;
                    "
                  >
                    <li>
                      <b> Total </b>
                    </li>
                    <p style="font-weight: 500">Y7400</p>
                  </div>
                </ul>
              </div>
            </span>
          </td>
        </tr>

        <tr>
          <td
            style="
              text-align: left;
              padding-left: 10%;
              margin-top: 20px;
              padding-bottom: 30px;
              font-weight: 500;
              font-size: 15px;
            "
          >
            <span>
              <p style="margin-left: -15px; padding-bottom: 5px">
                <b> Please note:</b>
              </p>
              <ul style="width: 80%">
                <li>
                  if you have ordered multiple items, they may be delivered to
                  you on different days. This is because they are sold by
                  different sellers on our platform, and we strive to make each
                  item available to you as soon as we receive it.
                </li>
                <li>
                  Rest assured that we will keep you informed throughout the
                  delivery process.
                </li>
                <li>
                  You will receive a notification from us once the item(s) are
                  out for delivery or available for pick-up.
                </li>
                <li>
                  Please note that your order will be processed and shipped
                  within 7 business days.
                </li>
              </ul>
            </span>
          </td>
        </tr>
      </table>

      <!-- footer  -->

      <table
        border="0"
        height="100%"
        style="
          height: 100%;
          margin: 0 auto;
          color: black;
          padding: 0;
          width: 100%;
          max-width: 701px;
          border-spacing: 0;
          padding-left: 2%;
          background-color: #f5f8fa;
        "
      >
        <tr>
          <td style="padding-top: 23px">
            <!-- <td width="100%" style="border-spacing: 0px;"> -->
            <tr style="margin-bottom: 0px">
              <td>
                <h4
                  style="
                    padding-left: 22px;
                    font-size: 18px;
                    margin-bottom: 15px;
                    font-family: 'Montserrat', sans-serif;

                    font-weight: bold;
                  "
                >
                  Download our app
                </h4>
              </td>
            </tr>
            <tr>
              <td>
                <table
                  class="footer-social"
                  style="
                    max-width: 300px;
                    border-spacing: 0;
                    float: left;
                    margin-right: 6.3%;
                    padding-bottom: 15px;
                  "
                >
                  <tr>
                    <td
                      class="link-app"
                      style="
                        border-spacing: 0;
                        padding-left: 20px !important;
                        padding-top: 4px;
                      "
                    >
                      <a href="" style="text-decoration: none">
                        <img
                          src="https://gaijinmall.com/assets/images/app_download_soon.png"
                          width="100%"
                          height="80"
                        />
                      </a>
                    </td>
                  </tr>
                </table>
                <table
                  class="footer-socialMedia-01"
                  style="
                    max-width: 324px;
                    float: left;
                    padding-top: 20px;
                    padding-bottom: 15px;
                    text-align: end;
                    margin: 5px 0px;
                  "
                >
                  <tr>
                    <td class="footer-socialMedia" style="padding-left: 22px">
                      <a
                        href="#"
                        style="
                          background-color: #3b5998;
                          padding: 6px 18px;
                          font-size: 17px;
                        "
                      >
                        <i
                          class="fa fa-facebook"
                          style="width: 40px; height: 40px"
                        ></i>
                      </a>
                      <a
                        href=""
                        style="
                          background-color: #55acee;
                          padding: 6px 16px;
                          font-size: 17px;
                          text-decoration: none;
                        "
                      >
                        <i
                          class="fa fa-twitter"
                          style="width: 40px; height: 40px"
                        ></i>
                      </a>
                      <a
                        href="#"
                        style="
                          background-color: #740101;
                          padding: 6px 16px;
                          font-size: 17px;
                          text-decoration: none;
                        "
                      >
                        <i
                          class="fa fa-instagram"
                          style="width: 40px; height: 40px"
                        ></i>
                      </a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td>
                <table>
                  <tr>
                    <td
                      class="footer-message"
                      style="
                        line-height: 24px;
                        font-size: 13px;
                        padding-left: 20px;
                        font-family: 'Montserrat', sans-serif;
                        font-weight: 500;
                        width: 600px !important;
                      "
                    >
                      <p>
                        <!-- width: 550px !important; -->
                        We appreciate your understanding and thank you for your
                        patience. If you have any questions or concerns
                        regarding your order, please don't hesitate to contact
                        our <a href=""><b>customer service team</b></a
                        >. Thank you again for choosing GaijinMall as your
                        preferred online shopping platform!
                      </p>
                      <p style="padding-top: 20px; padding-bottom: 20px">
                        GaijinMall Team
                      </p>
                      <!-- <p style="padding-top: 20px; padding-bottom: 20px">
                        some text
                      </p> -->
                      <a href="#" style="color: black; font-size: 15px"
                        >Unsubscribe</a
                      >
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- </td> -->
          </td>
        </tr>
      </table>
      <!--  -->
      <!--  -->
    </center>
  </body>
</html>
