<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="dependencies/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="views/assets/css/login.css">
    <link rel="stylesheet" href="views/assets/css/reset.css">
</head>
<body >
    <div class="container-fluid">
        <div class="row">
                <!--Gaiijin column-->
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 gaiijincolumn gaiijincolumn__reset">
                    <!--Elipse circle images-->
                <div class="gaiijincolumn__elipse">
                    <img src="views/assets/images/elipse.png" alt="elipse" class="img-fluid elipse_class">
                    <img src="views/assets/images/elipse(1).png" alt="elipse" class="img-fluid elipse_class--1">
                    <img src="views/assets/images/elipse-2.png" alt="elipse" class="img-fluid elipse_class--2">
                </div>
                    <!--Gaiijin Image-->
                <img src="views/assets/images/Untitled_design__4_-removebg-preview 1.png" alt="Logo" class="img-fluid gaiijincolumn__logopic">
                
               <div class="gaiijincolumn__text">
                    <h3>I see you're the first <br> time here.</h3>
                    <p class="p-tag">Maybe some text here will help me see it better. <br>
                        Oh God. Ok. Let’s do it then. 
                    </p>
                </div>
            </div>
                <!--Reset password column-->
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="form-control resetpassword">
                    <h3>Reset Password</h3>
                    <p>Create your new password for Gaijinmall <br>
                        and type new password twice
                    </p>
                        <!-- Nested columns -->
                    <div class="row">
                        <div class="col-lg-12 col-md-13 col-sm-12 col-xs-12">
                            <form class="mb-3 top--space">
                                <label for="newPasswordField"><h6>New Password</h6></label>
                                <input type="text" class="form-control" id="emailField" 
                                    placeholder="Enter your new password">
                            </form>
                        </div>
                   
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <form class="mb-3 top--space">
                                <label for="confirmpasswordFeild"><h6>Confirm New Password</h6></label>
                                <input type="text" class="form-control" id="confirmpasswordField" 
                                    placeholder="************">
                            </form>
                        </div>
                    </div>
                        <!--Reset button-->
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <button type="button" class="btn-primary btn-resetpassword ">Reset password</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="bootstrap-5.0.2-dist/js/bootstrap.min.js"></script>
</body>
</html>